[submodule "local-file-stream-client-native"]
	path = local-file-stream-client-native
	url = https://github.com/NetClean/local-file-stream-client-native.git
	pushurl = git@github.com:NetClean/local-file-stream-client-native.git
