1 VERSIONINFO
FILEVERSION     2,1,0,0
PRODUCTVERSION  2,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Safer Society Group Sweden AB"
      VALUE "FileDescription", "SSG.PlayerSubProcess"
      VALUE "FileVersion", "2.1"
      VALUE "InternalName", "SSG.VideoPlayerSubProcess"
      VALUE "LegalCopyright", "SSG.VideoPlayerSubProcess"
      VALUE "OriginalFilename", "SSG.VideoPlayerSubProcess.exe"
      VALUE "ProductName", "SSG.VideoPlayerSubProcess"
      VALUE "ProductVersion", "2.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
