1 VERSIONINFO
FILEVERSION     1,0,1,0
PRODUCTVERSION  1,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "NetClean Technologies AB"
      VALUE "FileDescription", "NetCleanVideoPlayerSubProcess"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "NetCleanVideoPlayerSubProcess"
      VALUE "LegalCopyright", "NetCleanVideoPlayerSubProcess"
      VALUE "OriginalFilename", "NetCleanVideoPlayerSubProcess.exe"
      VALUE "ProductName", "NetCleanVideoPlayerSubProcess"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
